.img-banner {
    display: block;
    margin: auto;
    width: 100% !important;
}
.thumbnail>img {
    margin: auto;
    width: auto !important;
    height: 200px;
}
.layanan {
    width: 42%;
    float: left;
    margin-right: 1%;
}
.layanan.lost{
    float:none;
    margin: 0 auto 1em;
}
.btn-katberita {
    margin-top: 10px;
}